@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  list-style: none;
  color: #fff;
}

body {
  font-size: 19px;
  font-weight: 600;
  cursor: none;
  background-color: #000;
  padding: 40px 120px;
  cursor: default;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --background: #fff;
  --text-header: #adb3b3;
  --text: #000;
}

html {
  scroll-behavior: smooth;
}

*::selection {
  color: var(--text-header);
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

img {
  width: 100%;
  object-fit: cover;
}

/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  font-size: 16px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  font-size: 30px;
}

.fa,
p {
  color: var(--text-header);
}

/*  */
.img-cover {
  height: 320px;
}

.img-cover img {
  height: 100%;
  border-radius: 10px;
  margin: 20px auto;
}

.first {
  margin-top: 9%;
}

.first h1 {
  font-size: 75px;
  font-weight: 1000;
}

.first h3 {
  font-size: 50px;
  font-weight: 100;
  color: var(--text-header);
}

.first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3%;
}

button {
  background-color: #fff;
  outline: none;
  border: none;
  color: #000;
  font-weight: 600;
  padding: 15px 80px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
  transition: all 200ms;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: var(--text-header);
  border: 0.7px solid #fff;
}

.Second {
  margin-top: 10%;
}

/* Container for the two columns */
.two-column-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.two-column-container p {
  font-weight: normal;
}

/* Style for each column */
.column {
  gap: 40px;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 2px solid #ccc;
}

.column h1 {
  font-size: 90px;
  font-weight: 100;
}

.column h1 span {
  font-size: 30px;
}

.column-container {
  /* flex-basis: 0%; */
  width: 55%;
}

.column-text {
  width: 40%;
}

.column-text p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.skills-section {
  margin-top: 40px;
}

.expertise {
  margin-bottom: 30px;
  padding-bottom: 20px;
}

/* Add your testimonial section styling here */

/* .splide__slide {

} */

.splide__slide i.fa {
  color: #ffffff;
  font-size: 20px;
}

.splide__slide p {
  line-height: 28px;
}

.testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimonial div img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial div .stars {
  margin: 3px auto;
}

/*  */
.expe-container {
  display: flex;
  justify-content: space-between;
}

.expe-container .date {
  flex-basis: 30%;
  padding: 10px;
  font-weight: lighter;
}
.expe-container .date h4 {
  font-weight: lighter;
}
.expe-container .company {
  padding: 10px;
  flex-basis: 40%;
}
.expe-container .company h3 {
  font-size: 30px;
  font-weight: lighter;
}
.expe-container .company h6 {
  font-weight: lighter;
  color: rgb(233, 226, 226);
}
.expe-container .job-description {
  padding: 10px;
  flex-basis: 30%;
  font-weight: lighter;
}
